In [2]:
import pandas as pd
import datetime as dt

# review of python's datetime module

In [3]:
someday = dt.date(2000,1,20)

In [4]:
someday.year, someday.month, someday.day

(2000, 1, 20)

In [5]:
dt.datetime(2000, 1, 20) # default to midnight

datetime.datetime(2000, 1, 20, 0, 0)

In [6]:
# year, month, day, hour, minute, second
sometime = dt.datetime(2000, 1, 20, 17, 30, 57)
sometime

datetime.datetime(2000, 1, 20, 17, 30, 57)

In [7]:
str(sometime)

'2000-01-20 17:30:57'

In [8]:
sometime.month, sometime.hour

(1, 17)

# pandas timestamp object

In [9]:
pd.Timestamp('2023-02-13')
pd.Timestamp('2023/2/13')
pd.Timestamp('2023, 2, 13')
pd.Timestamp('2/13/2023')
pd.Timestamp('13/2/2023') # pandas can figure out the month and day

pd.Timestamp('4/3/2023') # cautious of this one
pd.Timestamp('2023/2/13 20:18:59')
pd.Timestamp('2023/2/13 8:18:59 PM')

Timestamp('2023-02-13 20:18:59')

In [10]:
pd.Timestamp(dt.datetime(2000, 10, 1))
pd.Timestamp(dt.date(2000, 10, 1))

Timestamp('2000-10-01 00:00:00')

In [11]:
pd.Timestamp(dt.datetime(2000, 10, 1, 20, 15, 40))

Timestamp('2000-10-01 20:15:40')

pandas DateTimeIndex obj

In [12]:
dates = ['2016-01-02', '2016/04/12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [13]:
dates = [dt.date(2000,1,1), dt.date(2015, 10, 1), dt.date(2023,1,1)]
dtIndex = pd.DatetimeIndex(dates)

In [14]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2000-01-01    100
2015-10-01    200
2023-01-01    300
dtype: int64

# pd.to_datetime()

In [15]:
pd.to_datetime('2000/01/01')

Timestamp('2000-01-01 00:00:00')

In [16]:
pd.to_datetime(dt.date(2000, 1, 1))

Timestamp('2000-01-01 00:00:00')

In [17]:
pd.to_datetime(['2000/1/1', '2010/10/10', '2020', 'July 4th, 1996'])

DatetimeIndex(['2000-01-01', '2010-10-10', '2020-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [18]:
times = pd.Series(['2000/1/1', '2010/10/10', '2020', 'July 4th, 1996'])
times

0          2000/1/1
1        2010/10/10
2              2020
3    July 4th, 1996
dtype: object

In [19]:
# convert normal series to datetimeindex
pd.to_datetime(times)

0   2000-01-01
1   2010-10-10
2   2020-01-01
3   1996-07-04
dtype: datetime64[ns]

In [20]:
# fucky dates
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [21]:
# pd.to_datetime(dates) by default error is raised
pd.to_datetime(dates, errors='coerce') # convert to 'NaT' of invalid date string

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [22]:
ts = [1349720105, 1349806505]
pd.to_datetime(ts, unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05'], dtype='datetime64[ns]', freq=None)

# create range of dates with the pd.date_range() - part 1

In [23]:
times = pd.date_range(start='2023/1/1', end='2023/1/8', freq='2d')
times

DatetimeIndex(['2023-01-01', '2023-01-03', '2023-01-05', '2023-01-07'], dtype='datetime64[ns]', freq='2D')

In [24]:
type(times), type(times[0])

(pandas.core.indexes.datetimes.DatetimeIndex,
 pandas._libs.tslibs.timestamps.Timestamp)

In [25]:
# business day exclude weekend/ holidy
pd.date_range(start='2023/1/1', end='2023/1/10', freq='b')

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='B')

In [26]:
# weekday, default to sunday
pd.date_range(start='2016/1/1', end='2016/1/15', freq='w')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(start='2016/1/1', end='2016/1/15', freq='w-fri')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [28]:
# hour
pd.date_range(start='2016/1/1', end='2016/1/15', freq='6h')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [29]:
# month end
pd.date_range(start='2016/1/1', end='2016/12/15', freq='m')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [30]:
# month start
pd.date_range(start='2016/1/1', end='2016/12/15', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [31]:
# year end
pd.date_range(start='2016/1/1', end='2050/12/15', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# pd.date_range() - part 2

In [35]:
# periods specify the number item you want to return
pd.date_range(start='2023/1/1', periods=10)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(start='2023/1/1', periods=10, freq='B')

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13'],
              dtype='datetime64[ns]', freq='B')

In [38]:
 pd.date_range(start='2023/1/1', periods=10, freq='W-SUN')

DatetimeIndex(['2023-01-01', '2023-01-08', '2023-01-15', '2023-01-22',
               '2023-01-29', '2023-02-05', '2023-02-12', '2023-02-19',
               '2023-02-26', '2023-03-05'],
              dtype='datetime64[ns]', freq='W-SUN')

In [43]:
pd.date_range(start='2023/1/1', periods=10, freq='MS')

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01'],
              dtype='datetime64[ns]', freq='MS')

# pd.date_range() - part 3

In [46]:
pd.date_range(end='2023/1/2', periods=10, freq='2D')

DatetimeIndex(['2022-12-15', '2022-12-17', '2022-12-19', '2022-12-21',
               '2022-12-23', '2022-12-25', '2022-12-27', '2022-12-29',
               '2022-12-31', '2023-01-02'],
              dtype='datetime64[ns]', freq='2D')

# .dt Accessor

In [49]:
dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')

In [51]:
s = pd.Series(dates)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [58]:
#s.day
s.dt.day
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [61]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [62]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# import financial dataset with pandas_datareader library

> conda install pandas_datareader

In [63]:
from pandas_datareader import data

In [71]:
# data.DataReader(name='MSFT', data_source='fred', start='2010', end='2020')
stocks = pd.read_csv('data/MSFT.csv', parse_dates=['Date'], index_col='Date')
stocks.head(3)

                 Open   High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.10  30.590000  30.950001  23.683067  38409100
2010-01-05  30.850000  31.10  30.639999  30.959999  23.690716  49749600
2010-01-06  30.879999  31.08  30.520000  30.770000  23.545336  58182400

In [73]:
stocks.values
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02',
               '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08',
               '2023-02-09', '2023-02-10'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [76]:
stocks.loc['2023/2/1':, ['Open','Close']]

                  Open       Close
Date
2023-02-01  248.000000  252.750000
2023-02-02  258.820007  264.600006
2023-02-03  259.540009  258.350006
2023-02-06  257.440002  256.769989
2023-02-07  260.529999  267.559998
2023-02-08  273.200012  266.730011
2023-02-09  273.799988  263.619995
2023-02-10  261.529999  263.100006

In [79]:
# stocks.loc[['2023/2/1', '2023/2/3', '2023/2/5']]
stocks.loc[['2023/2/1', '2023/2/3']]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-01,248.000000,255.179993,245.470001,252.750000,252.750000,31259900
2023-02-03,259.540009,264.200012,257.100006,258.350006,258.350006,29062300

In [84]:
# find the price on my birthday
birth_dates = pd.date_range(start='2010/10/10', end='2024', freq=pd.DateOffset(years=1))
birth_dates

DatetimeIndex(['2010-10-10', '2011-10-10', '2012-10-10', '2013-10-10',
               '2014-10-10', '2015-10-10', '2016-10-10', '2017-10-10',
               '2018-10-10', '2019-10-10', '2020-10-10', '2021-10-10',
               '2022-10-10', '2023-10-10'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [86]:
mask = stocks.index.isin(birth_dates)
stocks[mask]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-10-10,26.580000,26.969999,26.469999,26.940001,21.441561,41815300
2012-10-10,29.150000,29.309999,28.950001,28.980000,23.701344,47227100
2013-10-10,33.310001,33.889999,33.259998,33.759998,28.464025,42875100
2014-10-10,45.599998,46.119999,43.950001,44.029999,38.187874,51978100
2016-10-10,57.910000,58.389999,57.869999,58.040001,53.104618,18196500
2017-10-10,76.330002,76.629997,76.139999,76.290001,71.484421,13944500
2018-10-10,111.239998,111.500000,105.790001,106.160004,101.265625,61376300
2019-10-10,138.490005,139.669998,138.250000,139.100006,134.771988,17654600
2022-10-10,233.050003,234.559998,226.729996,229.250000,228.605759,29743600

# timestamp obj

In [88]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [93]:
someday.month, someday.week, someday.day

(12, 52, 27)

In [94]:
someday.is_month_end, someday.is_quarter_start

(False, False)

In [96]:
someday.month_name(), someday.day_name()

('December', 'Tuesday')

In [97]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=3300)

In [99]:
stocks.insert(0, 'Day of Week', stocks.index.day_name())

In [100]:
stocks

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2010-01-04,Monday,30.620001,31.100000,30.590000,30.950001,23.683067,38409100
2010-01-05,Tuesday,30.850000,31.100000,30.639999,30.959999,23.690716,49749600
2010-01-06,Wednesday,30.879999,31.080000,30.520000,30.770000,23.545336,58182400
2010-01-07,Thursday,30.629999,30.700001,30.190001,30.450001,23.300470,50559700
2010-01-08,Friday,30.280001,30.879999,30.240000,30.660000,23.461157,51197400
...,...,...,...,...,...,...,...
2023-02-06,Monday,257.440002,258.299988,254.779999,256.769989,256.769989,22518000
2023-02-07,Tuesday,260.529999,268.769989,260.079987,267.559998,267.559998,50841400
2023-02-08,Wednesday,273.200012,276.760010,266.209991,266.730011,266.730011,54686000
2023-02-09,Thursday,273.799988,273.980011,262.799988,263.619995,263.619995,42375100
2023-02-10,Friday,261.529999,264.089996,260.660004,263.100006,263.100006,25760900

In [102]:
stocks.insert(1, 'Is start of Month', stocks.index.is_month_start)
stocks

,Day of Week,Is start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-01-04,Monday,False,30.620001,31.100000,30.590000,30.950001,23.683067,38409100
2010-01-05,Tuesday,False,30.850000,31.100000,30.639999,30.959999,23.690716,49749600
2010-01-06,Wednesday,False,30.879999,31.080000,30.520000,30.770000,23.545336,58182400
2010-01-07,Thursday,False,30.629999,30.700001,30.190001,30.450001,23.300470,50559700
2010-01-08,Friday,False,30.280001,30.879999,30.240000,30.660000,23.461157,51197400
...,...,...,...,...,...,...,...,...
2023-02-06,Monday,False,257.440002,258.299988,254.779999,256.769989,256.769989,22518000
2023-02-07,Tuesday,False,260.529999,268.769989,260.079987,267.559998,267.559998,50841400
2023-02-08,Wednesday,False,273.200012,276.760010,266.209991,266.730011,266.730011,54686000
2023-02-09,Thursday,False,273.799988,273.980011,262.799988,263.619995,263.619995,42375100
2023-02-10,Friday,False,261.529999,264.089996,260.660004,263.100006,263.100006,25760900

In [103]:
stocks.loc[stocks['Is start of Month']]

,Day of Week,Is start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-02-01,Monday,True,28.389999,28.480000,27.920000,28.410000,21.739449,85931100
2010-03-01,Monday,True,28.770000,29.049999,28.530001,29.020000,22.310070,43805400
2010-04-01,Thursday,True,29.350000,29.540001,28.620001,29.160000,22.417702,74768100
2010-06-01,Tuesday,True,25.530001,26.309999,25.520000,25.889999,19.993589,76152400
2010-07-01,Thursday,True,23.090000,23.320000,22.730000,23.160000,17.885347,92239400
...,...,...,...,...,...,...,...,...
2022-08-01,Monday,True,277.820007,281.279999,275.839996,278.010010,276.641510,21539600
2022-09-01,Thursday,True,258.869995,260.890015,255.410004,260.399994,259.668213,23263400
2022-11-01,Tuesday,True,234.600006,235.740005,227.330002,228.169998,227.528793,30592300
2022-12-01,Thursday,True,253.869995,256.119995,250.919998,254.690002,254.690002,26041500
2023-02-01,Wednesday,True,248.000000,255.179993,245.470001,252.750000,252.750000,31259900

# pd.DateOffset Obj

In [106]:
stocks.index += pd.DateOffset(days=5)
stocks

,Day of Week,Is start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-01-09,Monday,False,30.620001,31.100000,30.590000,30.950001,23.683067,38409100
2010-01-10,Tuesday,False,30.850000,31.100000,30.639999,30.959999,23.690716,49749600
2010-01-11,Wednesday,False,30.879999,31.080000,30.520000,30.770000,23.545336,58182400
2010-01-12,Thursday,False,30.629999,30.700001,30.190001,30.450001,23.300470,50559700
2010-01-13,Friday,False,30.280001,30.879999,30.240000,30.660000,23.461157,51197400
...,...,...,...,...,...,...,...,...
2023-02-11,Monday,False,257.440002,258.299988,254.779999,256.769989,256.769989,22518000
2023-02-12,Tuesday,False,260.529999,268.769989,260.079987,267.559998,267.559998,50841400
2023-02-13,Wednesday,False,273.200012,276.760010,266.209991,266.730011,266.730011,54686000
2023-02-14,Thursday,False,273.799988,273.980011,262.799988,263.619995,263.619995,42375100
2023-02-15,Friday,False,261.529999,264.089996,260.660004,263.100006,263.100006,25760900

In [107]:
stocks.index -= pd.DateOffset(days=5)

In [108]:
stocks.index + pd.DateOffset(weeks=2)

DatetimeIndex(['2010-01-18', '2010-01-19', '2010-01-20', '2010-01-21',
               '2010-01-22', '2010-01-25', '2010-01-26', '2010-01-27',
               '2010-01-28', '2010-01-29',
               ...
               '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16',
               '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22',
               '2023-02-23', '2023-02-24'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [109]:
stocks.index + pd.DateOffset(years=1, months=3, days=10, hours=6)

DatetimeIndex(['2011-04-14 06:00:00', '2011-04-15 06:00:00',
               '2011-04-16 06:00:00', '2011-04-17 06:00:00',
               '2011-04-18 06:00:00', '2011-04-21 06:00:00',
               '2011-04-22 06:00:00', '2011-04-23 06:00:00',
               '2011-04-24 06:00:00', '2011-04-25 06:00:00',
               ...
               '2024-05-10 06:00:00', '2024-05-10 06:00:00',
               '2024-05-11 06:00:00', '2024-05-12 06:00:00',
               '2024-05-13 06:00:00', '2024-05-16 06:00:00',
               '2024-05-17 06:00:00', '2024-05-18 06:00:00',
               '2024-05-19 06:00:00', '2024-05-20 06:00:00'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

# timeseries offsets

In [112]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2023-01-31', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [115]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2022-12-31', '2022-12-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [116]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2023-02-01', '2023-02-01', '2023-03-01', '2023-03-01',
               '2023-03-01', '2023-03-01', '2023-03-01', '2023-03-01',
               '2023-03-01', '2023-03-01'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [117]:
from pandas.tseries import offsets

In [119]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2023-01-31', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [120]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2022-12-30', '2022-12-30', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

In [121]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=3300, freq=None)

# Timedelta

In [124]:
time1 = pd.Timestamp('2023-02-13 04:35:16pm')
time2 = pd.Timestamp('2023-02-10 02:15:49am')
time1 - time2

Timedelta('3 days 14:19:27')

In [125]:
time2 - time1

Timedelta('-4 days +09:40:33')

In [126]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [127]:
time1 + pd.Timedelta(days=3)

Timestamp('2023-02-16 16:35:16')

In [129]:
pd.Timedelta(weeks=8, days=3, hours=12, minutes=45)

Timedelta('59 days 12:45:00')

In [133]:
# year, month not support as there is variation
# pd.Timedelta(months=1)
# pd.Timedelta(years=1)

In [135]:
pd.Timedelta('6 hours 5 minutes')

Timedelta('0 days 06:05:00')

# timedeltas in a dataset

In [142]:
ecom = pd.read_csv('data/ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
ecom.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [143]:
ecom['duration'] = ecom['delivery_date'] - ecom['order_date']
ecom.head(3)

   order_date delivery_date  duration
ID
1  1998-05-24    1999-02-05  257 days
2  1992-04-22    1998-03-06 2144 days
4  1991-02-10    1992-08-26  563 days

In [146]:
mask = ecom['duration'] < '365 days'
ecom[mask]

    order_date delivery_date duration
ID
1   1998-05-24    1999-02-05 257 days
8   1993-06-10    1993-11-11 154 days
19  1998-05-10    1998-05-19   9 days
30  1998-10-22    1999-01-11  81 days
46  1995-09-05    1996-07-19 318 days
..         ...           ...      ...
954 1993-08-08    1994-01-23 168 days
969 1996-09-24    1996-11-16  53 days
975 1997-06-18    1997-11-02 137 days
985 1995-07-26    1996-06-18 328 days
994 1993-06-03    1993-06-13  10 days

[107 rows x 3 columns]

In [145]:
ecom['duration'].min()

Timedelta('8 days 00:00:00')