In [2]:
import pandas as pd
import datetime as dt

# review of python's datetime module

In [3]:
someday = dt.date(2000,1,20)

In [4]:
someday.year, someday.month, someday.day

(2000, 1, 20)

In [5]:
dt.datetime(2000, 1, 20) # default to midnight

datetime.datetime(2000, 1, 20, 0, 0)

In [6]:
# year, month, day, hour, minute, second
sometime = dt.datetime(2000, 1, 20, 17, 30, 57)
sometime

datetime.datetime(2000, 1, 20, 17, 30, 57)

In [7]:
str(sometime)

'2000-01-20 17:30:57'

In [8]:
sometime.month, sometime.hour

(1, 17)

# pandas timestamp object

In [9]:
pd.Timestamp('2023-02-13')
pd.Timestamp('2023/2/13')
pd.Timestamp('2023, 2, 13')
pd.Timestamp('2/13/2023')
pd.Timestamp('13/2/2023') # pandas can figure out the month and day

pd.Timestamp('4/3/2023') # cautious of this one
pd.Timestamp('2023/2/13 20:18:59')
pd.Timestamp('2023/2/13 8:18:59 PM')

Timestamp('2023-02-13 20:18:59')

In [10]:
pd.Timestamp(dt.datetime(2000, 10, 1))
pd.Timestamp(dt.date(2000, 10, 1))

Timestamp('2000-10-01 00:00:00')

In [11]:
pd.Timestamp(dt.datetime(2000, 10, 1, 20, 15, 40))

Timestamp('2000-10-01 20:15:40')

pandas DateTimeIndex obj

In [12]:
dates = ['2016-01-02', '2016/04/12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [13]:
dates = [dt.date(2000,1,1), dt.date(2015, 10, 1), dt.date(2023,1,1)]
dtIndex = pd.DatetimeIndex(dates)

In [14]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2000-01-01    100
2015-10-01    200
2023-01-01    300
dtype: int64

# pd.to_datetime()

In [15]:
pd.to_datetime('2000/01/01')

Timestamp('2000-01-01 00:00:00')

In [16]:
pd.to_datetime(dt.date(2000, 1, 1))

Timestamp('2000-01-01 00:00:00')

In [17]:
pd.to_datetime(['2000/1/1', '2010/10/10', '2020', 'July 4th, 1996'])

DatetimeIndex(['2000-01-01', '2010-10-10', '2020-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [18]:
times = pd.Series(['2000/1/1', '2010/10/10', '2020', 'July 4th, 1996'])
times

0          2000/1/1
1        2010/10/10
2              2020
3    July 4th, 1996
dtype: object

In [19]:
# convert normal series to datetimeindex
pd.to_datetime(times)

0   2000-01-01
1   2010-10-10
2   2020-01-01
3   1996-07-04
dtype: datetime64[ns]

In [20]:
# fucky dates
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [21]:
# pd.to_datetime(dates) by default error is raised
pd.to_datetime(dates, errors='coerce') # convert to 'NaT' of invalid date string

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [22]:
ts = [1349720105, 1349806505]
pd.to_datetime(ts, unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05'], dtype='datetime64[ns]', freq=None)

# create range of dates with the pd.date_range() - part 1

In [23]:
times = pd.date_range(start='2023/1/1', end='2023/1/8', freq='2d')
times

DatetimeIndex(['2023-01-01', '2023-01-03', '2023-01-05', '2023-01-07'], dtype='datetime64[ns]', freq='2D')

In [24]:
type(times), type(times[0])

(pandas.core.indexes.datetimes.DatetimeIndex,
 pandas._libs.tslibs.timestamps.Timestamp)

In [25]:
# business day exclude weekend/ holidy
pd.date_range(start='2023/1/1', end='2023/1/10', freq='b')

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='B')

In [26]:
# weekday, default to sunday
pd.date_range(start='2016/1/1', end='2016/1/15', freq='w')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(start='2016/1/1', end='2016/1/15', freq='w-fri')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [28]:
# hour
pd.date_range(start='2016/1/1', end='2016/1/15', freq='6h')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [29]:
# month end
pd.date_range(start='2016/1/1', end='2016/12/15', freq='m')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [30]:
# month start
pd.date_range(start='2016/1/1', end='2016/12/15', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [31]:
# year end
pd.date_range(start='2016/1/1', end='2050/12/15', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# pd.date_range() - part 2

In [35]:
# periods specify the number item you want to return
pd.date_range(start='2023/1/1', periods=10)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(start='2023/1/1', periods=10, freq='B')

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13'],
              dtype='datetime64[ns]', freq='B')

In [38]:
 pd.date_range(start='2023/1/1', periods=10, freq='W-SUN')

DatetimeIndex(['2023-01-01', '2023-01-08', '2023-01-15', '2023-01-22',
               '2023-01-29', '2023-02-05', '2023-02-12', '2023-02-19',
               '2023-02-26', '2023-03-05'],
              dtype='datetime64[ns]', freq='W-SUN')

In [43]:
pd.date_range(start='2023/1/1', periods=10, freq='MS')

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01'],
              dtype='datetime64[ns]', freq='MS')

# pd.date_range() - part 3

In [46]:
pd.date_range(end='2023/1/2', periods=10, freq='2D')

DatetimeIndex(['2022-12-15', '2022-12-17', '2022-12-19', '2022-12-21',
               '2022-12-23', '2022-12-25', '2022-12-27', '2022-12-29',
               '2022-12-31', '2023-01-02'],
              dtype='datetime64[ns]', freq='2D')

# .dt Accessor

In [ ]:
sd